@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #E5E5E5;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('img/1.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}

.header__heading {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    margin-right: -0.8em;
    font-size: 73.8px;
    line-height: 97px;
    letter-spacing: 0.8em;
    color: #FFFFFF;
}

.heading {
    padding-top: 120px;
    height: 136px;
}

.header__comping-soon {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 45.9px;
    margin-right: -1.07em;
    line-height: 60px;
    letter-spacing: 1.07em;
    padding: 0;
    color: #DBD5D5;
}

.comming-soon {
    position: absolute;
    top: 300px;
    justify-content: center;
    padding: 0;
}

.phone-number {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.header__Phone-number {
    position: absolute;
    width: 182px;
    height: 32px;
    top: 700px;
}

.progress-bar {
    position: absolute;
    width: 400px;
    height: 26px;
    background-color: #BBB1B1;
    border-radius: 50px;
    color: white;
    top: 400px;
}

.progress-bar::before {
    content: attr(data-label);
    display: flex;
    height: 20px;
    align-items: center;
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 5px;
    width: calc(var(--width, 0) * 1%);
    min-width: 0rem;
    max-width: calc(50% - 3em);
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 0em;
}

.percentage {
    position: absolute;
    top: 431px;
}

.progress-bar__percent {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

@media only screen and (max-width: 1026px) {
    .heading {
        padding-top: 300px;
    }
    .header__heading {
        margin-right: -1.2em;
        font-size: 55.8px;
        line-height: 60px;
        letter-spacing: 1.2em;
    }
    .header__comping-soon {
        font-size: 55.9px;
        margin-right: -0.7em;
        line-height: 250px;
        letter-spacing: 0.7em;
    }
    .comming-soon {
        top: 450px;
    }
    .percentage {
        position: absolute;
        top: 730px;
    }
    .progress-bar__percent {
        font-size: 15px;
        line-height: 0px;
    }
    .progress-bar {
        width: 330px;
        height: 25px;
        top: 690px;
    }
    .progress-bar::before {
        height: 20px;
        top: 2px;
        left: 3px;
        bottom: 3px;
        max-width: calc(65% - 3em);
        padding: 0em;
    }
    .phone-number {
        font-size: 18px;
        line-height: 15px;
    }
    .header__Phone-number {
        position: absolute;
        width: 150px;
        height: 20px;
        top: 1220px;
    }
}

@media only screen and (max-width: 770px) {
    .heading {
        padding-top: 240px;
    }
    .header__heading {
        margin-right: -1.2em;
        font-size: 45.8px;
        line-height: 50px;
        letter-spacing: 1.2em;
    }
    .header__comping-soon {
        font-size: 43.9px;
        margin-right: -0.7em;
        line-height: 250px;
        letter-spacing: 0.7em;
    }
    .comming-soon {
        top: 360px;
    }
    .percentage {
        position: absolute;
        top: 565px;
    }
    .progress-bar__percent {
        font-size: 15px;
        line-height: 0px;
    }
    .progress-bar {
        width: 280px;
        height: 25px;
        top: 530px;
    }
    .progress-bar::before {
        height: 20px;
        top: 2px;
        left: 3px;
        bottom: 3px;
        max-width: calc(65% - 3em);
        padding: 0em;
    }
    .phone-number {
        font-size: 18px;
        line-height: 15px;
    }
    .header__Phone-number {
        position: absolute;
        width: 150px;
        height: 20px;
        top: 920px;
    }
}

@media only screen and (max-width: 601px) {
    .heading {
        padding-top: 160px;
    }
    .header__heading {
        margin-right: -0.7em;
        font-size: 32.8px;
        line-height: 50px;
        letter-spacing: 0.7em;
    }
    .header__comping-soon {
        font-size: 30.9px;
        margin-right: -0.3em;
        line-height: 250px;
        letter-spacing: 0.6em;
    }
    .comming-soon {
        top: 200px;
    }
    .percentage {
        position: absolute;
        top: 390px;
    }
    .progress-bar__percent {
        font-size: 10px;
        line-height: 15px;
    }
    .progress-bar {
        width: 220px;
        height: 15px;
        top: 370px;
    }
    .progress-bar::before {
        height: 10px;
        top: 2px;
        left: 3px;
        bottom: 3px;
        max-width: calc(65% - 3em);
        padding: 0em;
    }
    .phone-number {
        font-size: 14px;
        line-height: 15px;
    }
    .header__Phone-number {
        position: absolute;
        width: 150px;
        height: 20px;
        top: 620px;
    }
}

@media only screen and (max-width: 481px) {
    .heading {
        padding-top: 160px;
    }
    .header__heading {
        margin-right: -0.7em;
        font-size: 32.8px;
        line-height: 50px;
        letter-spacing: 0.7em;
    }
    .header__comping-soon {
        font-size: 30.9px;
        margin-right: -0.3em;
        line-height: 250px;
        letter-spacing: 0.6em;
    }
    .comming-soon {
        top: 200px;
    }
    .percentage {
        position: absolute;
        top: 390px;
    }
    .progress-bar__percent {
        font-size: 10px;
        line-height: 15px;
    }
    .progress-bar {
        width: 220px;
        height: 15px;
        top: 370px;
    }
    .progress-bar::before {
        height: 10px;
        top: 2px;
        left: 3px;
        bottom: 3px;
        max-width: calc(65% - 3em);
        padding: 0em;
    }
    .phone-number {
        font-size: 14px;
        line-height: 15px;
    }
    .header__Phone-number {
        position: absolute;
        width: 150px;
        height: 20px;
        top: 620px;
    }
}

@media only screen and (max-width: 415px) {
    .heading {
        padding-top: 160px;
    }
    .header__heading {
        margin-right: -0.7em;
        font-size: 32.8px;
        line-height: 50px;
        letter-spacing: 0.7em;
    }
    .header__comping-soon {
        font-size: 30.9px;
        margin-right: -0.3em;
        line-height: 250px;
        letter-spacing: 0.6em;
    }
    .comming-soon {
        top: 220px;
    }
    .percentage {
        position: absolute;
        top: 410px;
    }
    .progress-bar__percent {
        font-size: 10px;
        line-height: 15px;
    }
    .progress-bar {
        width: 220px;
        height: 15px;
        top: 390px;
    }
    .progress-bar::before {
        height: 10px;
        top: 2px;
        left: 3px;
        bottom: 3px;
        max-width: calc(65% - 3em);
        padding: 0em;
    }
    .phone-number {
        font-size: 14px;
        line-height: 15px;
    }
    .header__Phone-number {
        position: absolute;
        width: 150px;
        height: 20px;
        top: 670px;
    }
}

@media only screen and (max-width: 376px) {
    .heading {
        padding-top: 160px;
    }
    .header__heading {
        margin-right: -0.7em;
        font-size: 29.8px;
        line-height: 50px;
        letter-spacing: 0.7em;
    }
    .header__comping-soon {
        font-size: 28.9px;
        margin-right: -0.3em;
        line-height: 250px;
        letter-spacing: 0.6em;
    }
    .comming-soon {
        top: 200px;
    }
    .percentage {
        position: absolute;
        top: 390px;
    }
    .progress-bar__percent {
        font-size: 10px;
        line-height: 15px;
    }
    .progress-bar {
        width: 220px;
        height: 15px;
        top: 370px;
    }
    .progress-bar::before {
        height: 10px;
        top: 2px;
        left: 3px;
        bottom: 3px;
        max-width: calc(65% - 3em);
        padding: 0em;
    }
    .phone-number {
        font-size: 14px;
        line-height: 15px;
    }
    .header__Phone-number {
        position: absolute;
        width: 150px;
        height: 20px;
        top: 600px;
    }
}

@media only screen and (max-width: 321px) {
    .heading {
        padding-top: 140px;
    }
    .header__heading {
        margin-right: -0.5em;
        font-size: 29.8px;
        line-height: 50px;
        letter-spacing: 0.5em;
    }
    .header__comping-soon {
        font-size: 28.9px;
        margin-right: -0.3em;
        line-height: 250px;
        letter-spacing: 0.6em;
    }
    .comming-soon {
        top: 160px;
    }
    .percentage {
        position: absolute;
        top: 360px;
    }
    .progress-bar__percent {
        font-size: 10px;
        line-height: 15px;
    }
    .progress-bar {
        width: 220px;
        height: 15px;
        top: 340px;
    }
    .progress-bar::before {
        height: 10px;
        top: 2px;
        left: 3px;
        bottom: 3px;
        max-width: calc(65% - 3em);
        padding: 0em;
    }
    .phone-number {
        font-size: 12px;
        line-height: 15px;
    }
    .header__Phone-number {
        position: absolute;
        width: 150px;
        height: 20px;
        top: 520px;
    }
}